version: "3.8"

services:
  product-service:
    build: ./product-service
    ports:
      - "8081:8081"
    environment:
    networks:
      - shared-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 3



  order-service:
    build: ./order-service
    ports:
        - "8082:8082"
    environment:
    depends_on:
      product-service:
        condition: service_healthy
    networks:
      - shared-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 3

networks:
  shared-network:
    driver: bridge